<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <form action="/" method="post">
      
        <div>
            

            <h1>Welcome to our file sharing website! Here's how to use it:</h1>

            <ol>
                <li>Click on the "Upload" button and select the file you want to share from your computer.</li>
                <li>(Optional) If you want to protect your file with a password, enter it in the "Password" field.</li>
                <li>Click on the "Share" button to generate a unique link for your file.</li>
                <li>Copy the link and share it with anyone you want to share the file with.</li>
                <li>If you added a password, make sure to share it with the recipients so they can access the file.</li>
                <li>When someone clicks on the link, they'll be prompted to enter the password (if one was set). If no password was set, the download will begin automatically.</li>
            </ol>
        </div>
        
        <button type="submit">Back</button>
    </form>
<style>
    body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

form {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

ol {
  text-align: left;
  margin-left: 1rem;
}

li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #27ae60;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  ol {
    margin-left: 0;
  }

  li {
    font-size: 1rem;
  }
}

</style>

</body>

</html>